body {
  font-family: monospace;
  text-align: center;
  color: #444;
}

body,
p,
span,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 14px;
}

.container {
  margin: auto;
  text-align: left;
  max-width: 600px;
}

h1,
h2,
h3 {
  margin-top: 1rem;
  font-weight: normal;
}

pre {
  background-color: #eee;
  padding: 0.5rem;
  overflow-x: auto;
}

footer {
  margin-top: 3rem;
  font-size: 12px;
  color: #999;
}
