---
layout: layouts/home.njk
---

<ul class="toc">
	{%- for entry in collections.posts | reverse%}
		<li class="toc">
			<a href="{{ entry.url }}">
				<h2 class="toc">{{ entry.data | realTitle }}</h2>
			</a><br/>
			<time>{{ entry.date | htmlDateString }}</time>

		</li>
	{%- endfor %}
</ul>