<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        {# <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet"> #}
        {# <link href="{{ '/styles.css' }}" rel="stylesheet"/> #}
    </head>
    <body>

        <div class="container">
            <main>
                {{ content | safe }}
            </main>
            <footer>
                &copy; Copyright 2024 Mike Hodnick. Unauthorized duplication may result in dry mouth.
                </footer>
        </div>
    </body>
</html>