---
layout: layouts/base.njk
---
<article>
	<h2>
		<a href="{{ post.url }}">{{ title }}</a>
	</h2>
	<p>
		<a href="/">&lt; go back</a>
	</p>
	<time>{{ page.date | htmlDateString }}</time>
	{{ content  | safe }}

</article>